<!DOCTYPE html>
<html>
    <head>
        {% block head %}
        <meta charset="utf-8">
        <title>{{ _('Secret Gift Swap') }}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {% endblock %}
    </head>
    <body>
        <header>
            <a href="/">
                <h1>{{ _('Secret Gift Swap') }}</h1>
            </a>
        </header>
        <main>
            {% block content %}{% endblock %}
        </main>
        <footer>
            {% block adminFooter %}{% endblock %}
            <ul>
                <li><a href="https://github.com/dasnessie/secret-gift-swap/">{{ _('Secret Gift Swap on Github') }}</a></li>
            </ul>
        </footer>
    </body>
</html>