<!doctype html>
{% extends "base.html" %}

{% block content %}
    <h2>{{ _('Neue Auslosung anlegen') }}</h2>
    <p>{{ _('Es gibt noch keine Auslosung mit dem eingegebenen Namen. Hier kannst du eine neue Auslosung anlegen.') }}</p>

    <form id="participant-form" aria-label="{{ _('Teilnehmende anlegen') }}" action="/{{ exchangeName }}/create" method="POST">
        <label for="name-input">{{ _('Name:') }}</label>
        <input type="text" id="name-input" name="name">

        <section aria-labelledby="participant-list-heading">
            <h2 id="participant-list-heading">{{ _('Bisherige Teilnehmende') }}</h2>
            <ul id="participant-list">
                <li>Alice</li>
                <li>Bob</li>
                <li>Carlos</li>
            </ul>
        </section>
        <button type="submit">{{ _('Auslosen!') }}</button>
    </form>
{% endblock %}