<!doctype html>
{% extends "base.html" %}

{% block content %}
    <h2>{{ _('Create new gift exchange') }}</h2>
    <p>{{ _('There is no gift exchange with this name yet. You can create a new gift exchange here.') }}</p>

    <form id="participant-form" aria-label="{{ _('Add participants') }}" action="/{{ exchangeName }}/create" method="POST">

        <ul id="participants">
            <li>
                <input type="text" name="participant" />
                <button type="button" class="delete-participant">{{ _('Delete') }}</button>
            </li>
        </ul>
        <button type="button" id="add-participant">{{ _('Add participant') }}</button>

        <button type="submit">{{ _('Generate matching!') }}</button>
    </form>

    <script src="/static/create.js"></script>
{% endblock %}